{% extends "base_compact.html" %}

{% block headernav_current %}
  <h2 class="current"><a href="{{ url('demos') }}">{{ _('Demo Studio') }}</a></h2>
{% endblock %}

{% block site_css %}
    {{ super() }}
    <link rel="stylesheet" media="screen,projection,tv" 
        href="{{MEDIA_URL}}css/clearfix.css" />
    <link rel="stylesheet" media="screen,projection,tv" 
        href="{{MEDIA_URL}}css/demos/screen.css" />
{% endblock %}

{% block site_js %}
    {{ super() }}
    <script src="{{MEDIA_URL}}js/demos.js" 
        type="text/javascript"></script>
{% endblock %}
