{% extends "demos/base.html" %}

{% block pageid %}demos{% endblock %}

{% block bodyclass %}section-demos landing{% endblock %}

{% block title %}{{ page_title(_('Web')) }}{% endblock %}

{% block content %}

<section id="content">
<div class="wrap sidebar">
  <section id="content-main" role="main">

    <section class="boxed">
    
      <div id="demo-detail">

        <header class="head section-moz">
          <h2>{{ _('Demo: {demo_title}')|f(demo_title=submission.title) }}</h2>
          <p>
              Submitted by {{ submission_creator(submission) }},
              {{ submission.created.date() | date_diff() }}
          </p>
        </header>

        <div class="screenshot">
            {% if submission.screenshot_1 %}
                {% set screenshot_url = submission.screenshot_1.url %}
            {% else %}
                {% set screenshot_url = MEDIA_URL + "img/mdn-logo.png" %}
            {% endif %}
            <img src="{{screenshot_url}}"
                width="320" height="240" alt="{{ submission.title }}" />
        </div>

        <div class="info launch">

            {% if submission.allows_editing_by(request.user) %}
                <a class="launch_button" href="{{ url('demos_edit', slug=submission.slug) }}">{{_('Edit demo details')}}</a>
            {% endif %}

            {% if submission.demo_package %}
                <a class="launch_button" href="{{ url('demos_launch', slug=submission.slug) }}">Launch demo</a>
                <a class="launch_button download_button" href="{{ url('demos_download', slug=submission.slug) }}">Download source</a>
                <a class="launch_button flag_button" href="{{ url('demos_flag', slug=submission.slug) }}">Flag demo</a>
            {% endif %}

            {% if submission.allows_deletion_by(request.user) %}
                <form action="{{ url('demos_delete', slug=submission.slug) }}" method="POST">
                    {{ csrf() }} 
                    <input class="launch_button" type="submit" value="{{_("Delete demo")}}" />
                </form>
            {% endif %}

            {% if submission.allows_hiding_by(request.user) %}
                {% if submission.hidden %}
                    <form action="{{ url('demos_show', slug=submission.slug) }}" method="POST">
                        {{ csrf() }} 
                        <input class="launch_button" type="submit" value="{{_("Show demo")}}" />
                    </form>
                {% else %}
                    <form action="{{ url('demos_hide', slug=submission.slug) }}" method="POST">
                        {{ csrf() }} 
                        <input class="launch_button" type="submit" value="{{_("Hide demo")}}" />
                    </form>
                {% endif %}
            {% endif %}

        </div>

        <div class="info summary">
            <h4>Summary:</h4>
            <p>{{ submission.summary }}</p>
        </div>

        <div class="info description">
            <h4>Description:</h4>
            <p>{{ submission.description }}</p>
        </div>

        <div class="info meta">
            <h4>Meta:</h4>
            <div class="meta">
                <p class="likes">{{ submission.likes.total }}</p>
                <p class="views">{{ submission.launches.total }}</p>
                <p class="comments">{{ get_comment_count(submission) }}</p>
            </div>
        </div>

        <div class="info like">
            <h4>Like:</h4>
            {% set likes = submission.likes.get_total_for_request(request) %}
            {% if likes > 0 %}
                <form action="{{ url('demos_unlike', slug=submission.slug) }}" method="POST">
                    {{ csrf() }}
                    <input class="launch_button like button" type="submit" value="{{_("Un-like")}}" />
                </form>
            {% else %}
                <form action="{{ url('demos_like', slug=submission.slug) }}" method="POST">
                    {{ csrf() }}
                    <input class="launch_button like button" type="submit" value="{{_("Like")}}" />
                </form>
            {% endif %}
        </div>

        <div class="info share">
            {% set full_url = request.build_absolute_uri(submission.get_absolute_url()) %}
            {% set short_url = full_url | bitly_shorten %}
            <h4>Share:</h4>
            <ul>
                <li><a href="http://twitter.com/share?{{ urlencode({"url":short_url, "text":submission.title, "via":"mozhacks"}) }}">Share on Twitter</a></li>
                <li><a href="http://www.facebook.com/sharer.php?{{ urlencode({"u":short_url, "t":submission.title}) }}">Share on Facebook</a></li>
                <li><a href="{{ short_url }}">{{ short_url }}</a></li>
            </ul>
        </div>

        <div class="info tags">
            <h4>Tagged as:</h4>
            <ul class="tags clearfix">
                {% for tag in tags_for_object(submission) %}
                    <li>
                        <a href="{{ url('demos_tag', tag=tag.name) }}">{{ tag_title(tag) }}</a> 
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="comments">

            <div>
                <h3>{{ get_comment_count(submission) }} people have commented</h3>
                <span>Why not <a href="#comment_form">add your own</a>?</span>
            </div>
            {% set tree = get_threaded_comment_tree(submission) %}
            {% for comment in tree %}
                <div id="comment-{{ comment.id }}" style="border: 1px #ddd dotted; margin: 1em; padding: 1em; margin-left: {{ comment.depth * 2 }}em;" class="comment comment-level-{{ comment.depth }}">
                    <a href="#">{{ comment.user.username }}</a> said @ <a href="#comment-{{ comment.id }}">{{ comment.date_submitted }}</a>:<br/>
                    {# TODO: Uncomment this to allow markup choices #}
                    {# auto_transform_markup(comment) #}
                    {{ comment.comment | nl2br }}

                    {% if request.user.is_authenticated() %}
                        <div class="comment_reply">
                            <a href="#" class="show_reply">{{_('Reply')}}</a>
                            <form method="POST" action="{{ get_comment_url(submission, comment) }}">
                                {{ csrf() }}
                                <textarea rows="10" cols="40" name="comment"></textarea><br/>
                                <input type="submit" value="Comment" />
                            </form>
                        </div>
                    {% endif %}

                </div>
            {% endfor %}

            {% if request.user.is_authenticated() %}
                <div id="comment_form">
                    <p>Reply to Original:</p>
                    <form method="POST" action="{{ get_comment_url(submission) }}">
                        {{ csrf() }}
                        <textarea rows="10" cols="40" name="comment"></textarea><br/>
                        <input type="submit" value="Comment" />
                    </form>
                </div>
            {% endif %}

        </div>

      </div>

    </section>{# /.boxed #}

  </section>{# /#content-main #}

  <aside id="content-sub" role="complementary">
  </aside>{# /#content-sub #}

</div>
</section>{# /#content #}

{% endblock %}
