{% set is_popup = request.GET.get('popup', false) %}
{% if not is_popup %}
    {% extends "demos/base.html" %}
{% else %}
    {% extends "demos/base_popup.html" %}
{% endif %}

{% block pageid %}{% endblock %}
{% block bodyclass %}section-demos{% endblock %}
{% block title %}{{ page_title(_('{subtitle} | Demo Studio') | f(subtitle=submission.title)) }}{% endblock %}

{% block content %}

{% if not is_popup %}
    <section id="nav-toolbar">
    <div class="wrap">

      <nav class="crumbs">
        <ol role="navigation">
          <li><a href="{{ url('home') }}">MDN</a></li>
          <li><a href="{{ url('demos') }}">Demo Studio</a></li>
          <li><a href="{{ submission.get_absolute_url() }}">{{submission.title}}</a></li>
        </ol>
      </nav>
      
      <p class="demo-submit"><a href="{{ url('demos_submit') }}" class="button">Submit a Demo</a></p>
    </div>
    </section>
{% endif %}

<section id="content">
<div class="wrap">

  <section id="content-main" role="main" class="full">
  
    <section id="flag-confirm">

        <h2>{{_('Flag this demo?')}}</h2>
    
        <form enctype="multipart/form-data" action="" method="POST" target="_top">
            {{ csrf() }}
            <fieldset><legend>{{_('Flag content')}}</legend>
                <ul>
                    {{ form.as_ul() | safe }}
                    <li class="submit">
                        <input type="submit" name="action_create" 
                            value="{{ _("Flag content") }}" />
                        or <a class="closeModal" href="{{ submission.get_absolute_url() }}">{{_('Cancel')}}</a>
                    </li>
                </ul>
            </fieldset>
        </form>

    </section>
  </section>

</div>
</section>

{% endblock %}
