{% extends "demos/base.html" %}

{% block pageid %}demos{% endblock %}

{% block bodyclass %}section-demos landing{% endblock %}

{% block extrahead %}
    <link rel="alternate" type="application/atom+xml" title="Recent demos"
        href="{{ url('demos_feed_recent', format='atom') }}" />
    <link rel="alternate" type="application/atom+xml" title="Featured demos"
        href="{{ url('demos_feed_featured', format='atom') }}" />
{% endblock %}

{% block title %}{{ page_title(_('Web')) }}{% endblock %}

{% block content %}

<section id="content">
    <div class="wrap sidebar">
        <section id="content-main" role="main">

        <section class="boxed">

        <div id="popular-docs" class="articles-list">

            <a class="submit_demo" href="{{ url('demos_submit') }}">Submit a new demo</a>

            <div>
                <h3>{{_('Featured')}}</h3>
                {{ submission_listing(featured_submission_list) }}
            </div>

            <div>
                <h3>{{_('Demos')}}</h3>
                {{ submission_listing(submission_list) }}
            </div>

        </div>

        </section>{# /.boxed #}

        </section>{# /#content-main #}

        <aside id="content-sub" role="complementary">
            {{ search_form() }}
            {{ tags_list() }}
        </aside>{# /#content-sub #}

    </div>
</section>{# /#content #}

{% endblock %}
