{% set is_popup = request.GET.get('popup', false) %}
{% if not is_popup %}
    {% extends "demos/base.html" %}
{% else %}
    {% extends "demos/base_popup.html" %}
{% endif %}

{% block pageid %}{% endblock %}
{% block bodyclass %}section-demos{% endblock %}
{% block title %}{{ page_title(_('{subtitle} | Demo Studio') | f(subtitle=_('Terms of Use and License'))) }}{% endblock %}

{% block content %}

<section id="nav-toolbar">
<div class="wrap">

  <nav class="crumbs">
    <ol role="navigation">
      <li><a href="{{ url('home') }}">MDN</a></li>
      <li><a href="{{ url('demos') }}">Demo Studio</a></li>
      <li><a href="">Terms of Use and License</a></li>
    </ol>
  </nav>
  
  <p class="demo-submit"><a href="{{ url('demos_submit') }}" class="button">Submit a Demo</a></p>
</div>
</section>

<section id="content">
<div class="wrap">

  <section id="content-main" role="main" class="full">
  
    <section id="tos">
        <h2>Terms for Demo Contributors</h2>

<P STYLE="margin-bottom: 0in"><FONT FACE="Arial, serif"><FONT SIZE=2>Dated:
January 6, 2011</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><FONT FACE="Arial, serif">If you choose
to contribute a demo (“Demo”) to this project you need to abide
by the following rules.</FONT></P>
<P STYLE="margin-bottom: 0in"><FONT FACE="Arial, serif">1.	You agree
that you are making your entire Demo, or if it includes elements
licensed from a third party those elements for which you have
sufficient rights, available under the </FONT><FONT FACE="Arial, serif"><A HREF="http://creativecommons.org/licenses/by-sa/3.0/legalcode">Creative
Commons: Attribution Share Alike License v3.0</A> (or any later
version). This means that while you (or the author) still own the
copyright in the creative elements of your Demo, you give everyone
the right to copy, distribute, and remix it, as long as they give you
credit and distribute new versions under the same terms (See the
<A HREF="http://creativecommons.org/licenses/by-sa/3.0/">license
summary</A>). This includes giving Mozilla the ability to use your
Demo for promotional purposes. If you do not have sufficient rights
to license certain elements of the Demo under the above CC license,
you agree to clearly identify those elements and to provide contact
information for the copyright owners so others may seek to obtain
usage rights. </FONT>
</P>
<P STYLE="margin-bottom: 0in"><FONT FACE="Arial, serif">2.	You
represent and warrant that y</FONT><FONT FACE="Arial, serif">ou have
all the legal rights needed to post and transmit your </FONT><FONT FACE="Arial, serif">Demo</FONT><FONT FACE="Arial, serif">
over the web as well as the rights to authorize others to use,
distribute, and modify those elements of your </FONT><FONT FACE="Arial, serif">Demo
you are making available under the CC-BY-SA license</FONT><FONT FACE="Arial, serif">.
For a more detailed explanation of what this means, visit the Rights
Representation Details page </FONT><FONT FACE="Arial, serif"><I>[insert
link once the page is posted]</I></FONT><FONT FACE="Arial, serif">.</FONT></P>
<P STYLE="margin-bottom: 0in"><FONT FACE="Arial, serif">3.	</FONT><FONT FACE="Arial, serif">You
agree to make the source code of your Demo available under one of the
following open source licenses: MPL, Apache, GPL, or BSD </FONT><FONT FACE="Arial, serif"><I>[include
links to these licenses]</I></FONT><FONT FACE="Arial, serif">.</FONT></P>
<P STYLE="margin-bottom: 0in"><FONT FACE="Arial, serif">4.	You
represent and warrant that your Demo does not include:</FONT></P>
<UL>
	<LI><P STYLE="margin-bottom: 0in"><FONT FACE="Arial, serif">provocative,
	offensive, or sexual content</FONT></P>
	<LI><P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif">violence
	or Nazi imagery</FONT></P>
	<LI><P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif">discriminatory
	or hateful words or images </FONT>
	</P>
	<LI><P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif">promotion
	of online gambling</FONT></P>
	<LI><P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Arial, serif">anything
	that violates any applicable law or regulation or the rights of any
	person or entity</FONT></P>
</UL>
<P STYLE="margin-left: 1in; margin-bottom: 0in; line-height: 100%"><BR>
</P>
<P STYLE="margin-bottom: 0in"><FONT FACE="Arial, serif">5.	If you are
an individual acting as a representative of a corporation or other
legal entity that is submitting a Demo, you represent and agree that
you accept these Terms on behalf of such entity.</FONT></P>
<P STYLE="margin-bottom: 0in"><FONT FACE="Arial, serif">6.	You
understand and agree that you and your Demo are also subject to
Mozilla's <A HREF="http://www.mozilla.com/en-US/about/legal.html">website
legal notices</A> and other posted policies, guidelines or
requirements that apply either to our websites in general or this
particular project, and that your Demo will be displayed publicly, as
further described in our <A HREF="http://www.mozilla.com/en-US/privacy-policy.html">Privacy
Policy</A>.</FONT></P>
<P STYLE="margin-bottom: 0in"><FONT FACE="Arial, serif">7.	You
understand that Mozilla may </FONT><FONT FACE="Arial, serif">reject
or remove your Demo at any time for any reason without explanation or
advance notice.</FONT></P>
<P STYLE="margin-bottom: 0in"><FONT FACE="Arial, serif">8.	Mozilla
may revise these Terms at any time. If we make substantive changes we
will post a note to that effect on the project web page.</FONT></P>
<P STYLE="margin-bottom: 0in"><FONT FACE="Arial, serif">9.	These
Terms don’t grant you any right to use our logos, trademarks, trade
names, or trade dress or those of our licensors. For information on
our trademarks, please see our <A HREF="http://www.mozilla.org/foundation/trademarks">Trademark
and Logo Usage Policies</A>.</FONT></P>


    </section>

    <section id="license">
        <h2>License</h2>

<P STYLE="margin-top: 0.02in; margin-bottom: 0.02in; line-height: 100%"><A NAME="_GoBack"></A>
<FONT FACE="Arial, serif"><FONT SIZE=3>When you represent and warrant
that y</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=3>ou have
all the legal rights needed to post and transmit your </FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=3>Demo</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=3>
over the web as well as the rights to authorize others to use,
distribute, and modify your </FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=3>Demo</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=3>,
you mean that:</FONT></FONT></P>
<OL>
	<OL TYPE=A>
		<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=3>Either
		you are the owner of the copyright and all other rights in your
		</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=3>Demo;</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=3>
		or you have a perpetual, worldwide, unrestricted license to use,
		distribute, and modify for any purpose and in any medium, every
		element of your </FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=3>Demo
		that you have not identified as excluded from the CC-BY-SA license</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=3>
		and authorize others to do the same; or you have worldwide rights
		to freely use, distribute, and modify your </FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=3>Demo,
		or any elements of </FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=3>your
		</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=3>Demo you don’t
		own or have a license to, </FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=3>and
		to authorize others to do the same, under a legal doctrine such as
		fair use; and </FONT></FONT>
		</P>
		<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=3>To
		the extent your </FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=3>Demo</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=3>
		contains any commercial identifiers such as trademarks or trade
		dress, you have worldwide rights to use and to authorize the use of
		such commercial identifiers under the law (such as via a license or
		under fair use principles); and</FONT></FONT></P>
		<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=3>To
		the extent your </FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=3>Demo</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=3>
		contains any name, image, likeness, voice, or contact or location
		information of a person other than yourself, you have full rights
		to the use of, and to authorize further uses of, the name, image,
		likeness, voice, or contact or location information of that person
		in your </FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=3>Demo</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=3>;
		and</FONT></FONT></P>
		<LI><P STYLE="line-height: 100%"><FONT FACE="Arial, serif"><FONT SIZE=3>Your
		</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=3>Demo</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=3>
		does not violate any applicable law or regulation nor violate any
		rights of any third party.</FONT></FONT></P>
	</OL>
</OL>

    </section>

  </section>

</div>
</section>

{% endblock %}
