/** Styles for demos section */

#demos form { }
#demos form fieldset {border: 1px solid #ccc; padding: 0em; margin: 1em 0 1em 0;}
#demos form fieldset legend { font: 200 1.285em/1.1 "League Gothic",Haettenschweiler,sans-serif; letter-spacing: 0.5px;
    margin: 0px 1em 0px 1em; 
    text-transform: uppercase; }
#demos form fieldset p.intro { 
    margin: 1em 1em 1em 1em; 

}
#demos form fieldset ul { }
#demos form fieldset ul li { background: transparent; margin-bottom: 1em; padding: 0 0 0 0; }
#demos form fieldset ul li.field { padding-left: 1em; }
#demos form fieldset ul li.error { background: #fee; }
#demos form fieldset ul li label { display: block; font-size: 90%; font-weight: bold; }
#demos form fieldset ul li p label { display: inline; font-size: 100%; font-weight: normal; }
#demos form fieldset ul li input { }
#demos form fieldset ul li input[type="text"], 
    #demos form fieldset ul li input[type="password"], 
    #demos form fieldset ul li input[type="search"], 
    #demos form fieldset ul li textarea { 
        padding: 6px 8px; width: 95%; border: 1px solid #CBC8B9;
    }
#demos form fieldset ul li p.help { }

#demos form fieldset ul li ul.errorlist { margin: 0; }
#demos form fieldset ul li ul.errorlist li { float: none; color: red; font-size: 90%; }

#demos form fieldset ul li#field_tags ul { margin: 1em 0.25em; }
#demos form fieldset ul li#field_tags ul li { float: left; margin: 0.25em 1em 0.25em 1em }
#demos form fieldset ul li#field_tags ul li label { font-weight: normal; font-size: 80%; width: 16ex; white-space: nowrap; }

#demos form fieldset ul li#field_screenshots ul.screenshots { margin: 1em 0 1em 2em; }

#demos a.submit_demo {
    display: block; padding: 0.5em; margin: 0.5em;
    border: 4px solid #333; background: #eee;
    color: #000; text-align: center;
}
#demos a.submit_demo:hover {
    background: #ddd;
}
#demos .auth form { display: inline; }
#demos .auth form input[type="text"],
#demos .auth form input[type="password"] { width: 8ex; }

.submissions { margin: 0.25em; padding: 0em; text-align: center; }
#content-main ul.submissions li.submission { 
    padding: 0.25em 0.5em; background: transparent; 
}
.submissions .submission { 
    float: left; margin: 0.5em; padding: 0.5em; 
    border: 1px solid #ccc; text-align: center; 
}
.submissions .submission .title { border: 0; margin: 0em; }
.submissions .submission .submitter_name { border: 0; margin: 0em; font-size: 85%; font-weight: normal; }
.submissions .submission .thumbnail { border: 0; margin: 0.5em; }

.meta p { font-size: 90%; margin: 0 0.5em 0 0; padding: 0; display: inline; }
.meta .likes:before { content: "\263a"; padding-right: 0.5ex; font-size: 150%; }
.meta .views:before { content: "\2699"; padding-right: 0.5ex; font-size: 150%; }
.meta .downloads:before { content: "\2965"; padding-right: 0.5ex; font-size: 100%; }


#content-main ul.tags { margin: 0em 0.5em 1em 0.5em; }
#content-main ul.tags li { float: left; padding: 0 0.75em 0 0; margin: 0; background: transparent; }
#content-main ul.tags li:before { content: "\2709"; padding-right: 0.125ex; }


#demo-detail { }
#demo-detail .score:before { content: "\272d"; padding-right: 0.5ex; }
#demo-detail .vote_actions { }
#demo-detail .vote_actions form { display: inline; }
#demo-detail .vote_actions form input.button { 
   background: #ddd; color: #000;
   padding: 1px 2px;
   margin: 1px 2px;
   border: 1px solid #333;
   font: 0.875em/1.286 "Lucida Grande","Lucida Sans Unicode",Lucida,Arial,Helvetica,sans-serif;
}
#demo-detail .vote_actions form input.button[disabled] { 
   background: #fefefe; color: #999;
   border: 1px solid #aaa;
   cursor: default
}
#demo-detail .screenshot { float: left; margin: 0em 0em 0em 0em; }
#demo-detail .meta { clear: both }
#demo-detail .info { margin: 0 0 1.286em 340px; font-size: 0.857em; }
#demo-detail .launch a.launch_button { display: block;  border: 3px solid #666; background: #eee; text-align: center; padding: 0.5em; font-weight: bold; }
#demo-detail .launch a.launch_button:hover { border: 3px solid #333; background: #ddd; text-decoration: none; }




